<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/test">
  <meta charset="utf-8">
  <title>App</title>
</head>

<body>
  <header>
    Header
  </header>
  <main>
    <div>
      main head
    </div>
    <app-element></app-element>
  </main>
  <footer>
    Footer
  </footer>

  <script src="angular-elements.js" defer></script>
</body>

</html>
