<!DOCTYPE html>
<html lang="en">

<head>
  <base href="/test">
  <meta charset="utf-8">
  <title>App</title>
</head>

<body>
  <header>
    <a href="./test">Go to Test</a>
    <a href="/">Go to Other</a>
  </header>
  <main>
    <div>
      OTHER ROUTE
    </div>
  </main>
  <footer>
    Footer
  </footer>
</body>

</html>
